* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/SheepyBG3.png");
    background-size: cover;
    color: charcoal;
    padding-right: 1rem;
}

header {
    background-color: lightblue;
    text-align: center;
    width: 100vw;
    margin-bottom: 1rem;
    border-bottom: solid 5px darkgreen;
    border-top: solid 5px darkgreen;
}

h1 {   
    font-weight: 900;
    font-size: 4rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    color: purple;
}

h2 {
    font-weight: 700;
    padding-bottom: 2rem;
    color: blueviolet;
    padding-right: 1rem;
    padding-left: .5rem;
}

p {
    font-weight: 400;
    padding-bottom: 1rem;
    line-height: 1.5;
    font-size: 1.5rem;
}


.content {
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* preferred */
    grid-template-rows: 1fr;
    padding: 1rem;
    width: 90vw;
}

.splash img{
    width: 98%;
    /* margin-right: .5rem; */
    /* width: 350px; */
    border-radius: 15px;
    border: solid 3px darkgreen;
}

.introText {
    padding: 1rem;
    background-color: rgba(152, 192, 216, .4);
    border-radius: 15px;
    border: solid 3px darkgreen;
}


.gamelink-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 98%;
}

.credits {   
    background-color: rgba(200, 240, 216, .6);    
    text-align: center;  
    border-radius: 15px;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border: solid 3px darkgreen;
}

@media (min-width: 800px) {
    .content {
        display: grid;
        gap: 20px; 
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        padding: 1rem;
        width: 90vw;
    }
}

